/*
 * Add your CSS styles to this file.
 */
body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 a{
  text-decoration: none;
  color : white;
  font-size : 80px;
  align-items : baseline;
}

h1{
  color: white;
}

a{
  text-decoration: none;
}

header{
/*  color:deepskyblue;*/
  text-align: left;
  background-color: deepskyblue;
  color: white;
  font-size: 20px;
  outline-color: deepskyblue;
  overflow: hidden;
}

li{
  list-style-type: none;
}

.navbar{
  overflow: hidden;
  background-color: white;
  position: relative;
}
.navbar a {
  float: left;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

.navbar a:hover{
  text-decoration: none;
  color: deepskyblue;
  cursor: pointer;
}

#navbar-search-button{
  float: left;
  width: 27px;
  height: 25px;
  background-color: white;
  font-size: 17px;
  border: none;
  position: absolute;
  left: 1850px;
  top: 10px;
  
}

#navbar-search-button:hover{
  color: deepskyblue;
  cursor: pointer;
}

#navbar-search-input{
  width: 155px;
  height: 30px;
  position: relative;
  left: 1427px;
  top: 7px;
  nav-up: auto;
  background-color: whitesmoke;
  border: darkgrey;
}

#navbar-search-input:focus{
  border: darkgrey;
  background-color: white;
}

.twit{
  position: relative;
  left: 200px;
  top: 100px;
  float: left;
  width: 500px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  background-color: white;
  border: 20px whitesmoke;
  margin: 5px;
}

.twit-author{
  text-decoration: none;
  position: relative;
  left: 150px;
  font-size: smaller;
  color: black;
}

.twit-author a{
  text-decoration: none;
  color: black;
}

.twit-author a:hover{
  color: deepskyblue;
}

.twit-icon{
  position: relative;
  right: 220px;
}

.twit-text{
  position: relative;
  bottom: 29px;
  left: 29px;
  font-size: smaller;
  text-align: left;
}

#create-twit-button{
  position: absolute;
  bottom: 60px;
  right: 70px;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
}

#create-twit-button:hover{
  background-color: deepskyblue;
  padding: 22px;
}
